body {
    background-color: #0a0213;
    color: #7126d6;
}


div {
    background-color: #2B0327;
    padding: 0px;
    border:0;
    margin: 0px;
    height: 500px;
    width: 800px;
    border-radius: 25px;
    position:"absolute";
    top: 30%;
    overflow: hidden;
    box-shadow: 2px 2px 30px  #ce3fff;
    
}




@font-face {
  font-family: 'CoolFont'; 
  src: url('Mollen\ Personal\ Use-Bold.otf'); 
}


.container {
    
    padding-left:10px; 
    padding-top: 10px;
    font-family: 'CoolFont';
}


button{

    border-radius: 5px;
    font-family: 'CoolFont'; 
    background-color: #ce3fff;
    width: 50px;
    height: 40px;
}



input{

    border-radius: 5px;
    font-family: 'CoolFont'; 
    background-color: #1e0639;
    width: 500px;
    height: 30px;
    margin-top: 1%;
    border-color: #1e0639;

}